@CHARSET "US-ASCII";


.body {
	
	background: #DCDCDC;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", "sans-serif";
	font-weight:300;
	text-align: left;
	text-decoration: none;
}

.form {
	
	width: 35%;
	margin: 8% auto;
	
	background: white;
	border-radius: 2%;
	
}

/*******************
HEADER
*******************/

.form .header {
	padding: 10% 0% 0% 10%;
}

.form .header h1 {
	font-family: 'Bree Serif', "serif", Calibri;
	font-weight: 300;
	font-size: xx-large;
	line-height:5%;
	color: #414848;
	margin-bottom: 5%;
}

.form .header span {
	font-size: 5%;
	line-height: 8%;
	color: #678889;
}



/*******************
CONTENT
*******************/

.form .content {
	padding: 10% 10% 10% 10%;
}


/* Input field */
.form .content .input {
	
	width: 90%;
	padding: 3%; 
	outline-width: medium;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: medium;
	color: #9d9e9e;
	
	background: #F5F5F5;
	border:none;
	border-radius: 5%;
	
}

.form .content .input:focus {
	
	box-shadow: inset 0% 0% 0% rgba(0,0,0,0);
	-moz-box-shadow: inset 0% 0% 0% rgba(0,0,0,0);
	-webkit-box-shadow: inset 0% 0% 0% rgba(0,0,0,0);
}



.form .content .login_error{
	
	font-size: medium;
	color: red;
	
}
/*******************
FOOTER
*******************/

.form .footer {
	
	overflow: auto;	
	padding: 10% 0% 10% 0%;
	background: white;

}

/* Login button */
.form .footer .fb-login {
	width: 45%;
	height: 5%;
	
	text-align: center;
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: large;
	color: #fff;
	
	background: #4682B4;
	border: none;
	border-radius: 5%;
	cursor: pointer;
}

.form .content .login {
	width: 35%;
	
	text-align: center;
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: large;
	color: #fff;
	
	background: #4682B4;
	border: none;
	border-radius: 5%;
	cursor: pointer;
}


